body {
/* All text in Century Gothic */
  background-color: lavender;
  font-family: Century Gothic;
}

/* h1 centered, bold and bigger size*/
h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: RoyalBlue;
}
/* h2 centered and bold */
h2 {
  text-align: center;
  font-weight: bold;
  color: Indigo;
}
/* h1 id name bigger and spaced */
#name {
  font-size: 30px;
  letter-spacing: 2px;
  color: Purple;
  background: linear-gradient(to bottom, FloralWhite, Plum);
}
/* h1 id background bigger*/
#background {
  font-size: 25px;
  color: Indigo
  }
 /* p justify and bigger*/
p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}
/* link to main */
#home {
  display: inline-block;
  border: 2px solid black;
  padding: 10px 20px;
  font-style: italic;
  background: lightpink;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#home.hover {
  background-color: lightblue;
}
/* paragrapho lists*/
dl {
  font-size: 20px;
  text-align: justify;
}
a {
  color: Plum;
  text-decoration: none;
  transition: color 0.3s;
}
a.link {
  font-weight: bold;
  color: Sienna;
}
a.hover {
  color: Indigo;
}
/* div with border stack for link with background.html*/
/* div taken and modified w3school*/
 
.container {
  position: relative;
}

.hard-skills {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  background: lightpink;
  height: 100px;
  margin: 30px;
}
.experience {
  position: absolute;
  z-index: 2; 
  background: lightgreen;
  border: 2px solid black;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
.soft-skills {
  position: absolute;
  z-index: 3;
  background: lightblue;
  border: 2px solid black;
  height: 60px;  
  width: 70%;
  left: 50px;
  top: 50px;
}
