body {
  background-color: lavender;
  font-family: Century Gothic;
}
/* All text in Century Gothic */
h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold
}
h2 {
  text-align: center;
}
#name {
  font-size: 30px;
  letter-spacing: 2px
}
#background {
  font-size: 25px;
  }
p {
  font-size: 20px;
  text-align: justify;
}
dl {
  font-size: 20px;
  text-align: justify;
}
.container {
  position: relative;
}

.hard-skills {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  background: lightpink;
  height: 100px;
  margin: 30px;
}
.experience {
  position: absolute;
  z-index: 2; 
  background: lightgreen;
  border: 2px solid black;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
.soft-skills {
  position: absolute;
  z-index: 3;
  background: lightblue;
  border: 2px solid black;
  height: 60px;  
  width: 70%;
  left: 50px;
  top: 50px;
}
